@font-face {
  font-family: "EN-Normal";
  src: url(./DINNextW1G-Medium.otf);
}
/* @font-face {
  font-family: "TC-Bold";
  src: url(./TaipeiSansTCBeta-Bold.ttf);
}
@font-face {
  font-family: "TC-Regular";
  src: url(./TaipeiSansTCBeta-Regular.ttf);
} */