@value styles: "./styles.module.css";
@value default, dark, light, accent, gary1, gary2, black, white from styles;

.main{
  display: flex;
  gap:60px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.listSection{
  width:100%;
  padding:0px 260px;
  gap:20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.progressBar{
  display: flex;
  width: 80%;
  height: 38px;
  padding: 60px 180px;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--green, #80999C);
  text-align: center;
  font-family: Taipei Sans TC Beta;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
.progress1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.progress2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.progress3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:#F47619;
}
.progressNumber1{
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--orange, #80999C);
}
.progressNumber2{
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--orange, #80999C);
}
.progressNumber3{
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--orange, #F47619);
}
.listSection > p{
  width:100%;
  color: var(--green, #80999C);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.coursePhoto {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 40px;
}

.Section1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border: 1px solid rgba(113, 112, 113, 0.30);
}
.Section1 > div{
  width:100%;
  display: flex;
  padding: 21px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.Section2{
  width:100%;
  border: 1px solid rgba(113, 112, 113, 0.30);
}
.Section3{
  background-color: #F2F5F5;
  display: flex;
  padding: 25px 20px;
  flex-direction: column;
  gap: 15px;
  align-self: stretch;
}
.orderInfo{
  display: flex;
  padding: 21px 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.orderText{
  color: var(--gray-1, #717071);
  font-family: Taipei Sans TC Beta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.orderTotal{
  color: var(--orange, #F47619);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.orderTitle{
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid rgba(113, 112, 113, 0.30);
}
.orderTitle > div{
  color: var(--black, #333);
  text-align: center;
  font-family: Taipei Sans TC Beta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.productText{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 20px;
  border-bottom: 1px solid rgba(113, 112, 113, 0.30);
}
.photo{
  display: flex;
  width: 100px;
  height: 100px;
  padding: 21px 22px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px;
  background: var(--gray-2, #DDD);
}
.productInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.productName{
  height: 40px;
  align-self: stretch;
  overflow: hidden;
  color: var(--black, #333);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Taipei Sans TC Beta;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.productDesc{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--black, #333);
  text-overflow: ellipsis;
  font-family: Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.productPrice{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  color:#80999C;
  font-size: 20px;
}
.productQuantity{
  display: flex;
  width: 155px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color:#80999C;
  font-size: 20px;
}
.productSubtotal{
overflow: hidden;
color: var(--green, #80999C);
text-overflow: ellipsis;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.productSpec{
  color: var(--black, #333);
  font-family: Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.details{
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid rgba(113, 112, 113, 0.30);
}
.details > div{
  color: #000;
  font-family: Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.detailsContent{
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  align-items: flex-start;
  align-self: stretch;
}
.detailsContent1 > div{
  color: var(--gray-1, #717071);
  font-family: Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.detailsContent4{
  color: var(--gray-1, #F47619);
  font-family: Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  width:50%;
  gap:30px;
  margin-bottom: 80px;
}
.buttonContainer > button{
    width:233px;
    background-color: white;
    color:#80999C;
}
.buttonContainer > button:last-child{
  width:233px;
  background-color: #80999C;
  color:white;
}

/* 主要內容區塊 */
.orderSection {
  /* background-color: aquamarine; */
  width: 1350px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courseOrderOk {
  color: accent;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin: 150px 0 20px;
}

.courseOrderId {
  color: var(--green, #80999C);
  font-family: DIN Next W1G;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  margin: 10px 0 60px;
}

.orderListSection {
  width: 800px;
  /* background-color: rgb(255, 214, 127); */
}

.oneOrderList{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 40px;
}

.coursePhoto {
  margin-right: 40px;
}

.nameAndPrice {
  /* background-color: #F47619; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseName {
  font-size: 22px;
  color: dark;
}

.coursePrice {
  font-size: 20px;
  font-family: DIN Next W1G;
}

.totalTitleAndTotalNumber {
  /* background-color: #9119f4; */
  width: 800px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.courseOrderTotalTitle {
  display: flex;
  color: var(--black, #333);
  font-family: Taipei Sans TC Beta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  gap:10px;
  margin-bottom: 20px;
}

.totalNumber{
  color: var(--green, #487378);
  font-family: DIN Next W1G;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.buttonContainer {
  margin-top: 100px;
margin-bottom: 100px;
}
.orderButton {
  
}